
@import helper._
@import play.mvc.Http.Request
@import dto.formData
@import dto.Repository


@(newUserForm: play.data.Form[formData], repoList: List[Repository])(implicit request: Request, messages: play.i18n.Messages)
<!-- HTML Head -->



<body>
   		<h1> Welcome to Gitterific! </h1>
   		@helper.form(action = routes.ApiController.fetchRepos()) {
        @helper.inputText(newUserForm("searchInput"))
        <button type="submit" class="btn btn-primary btn-block">Search</button>

       
        
    }



    <style>
        table, th, td {
         border: 1px solid black;
        }
        </style>
    @if(!repoList.isEmpty & repoList != null)    {
    <table>
        <thead>
          
        </thead>
        <tbody>

        
        
        @for(repo <- repoList) {
            
           <tr>
            <td>@repo.getFull_name()</td>
            <td>@repo.getName()</td>
            <td><a class="btn btn-link" href="@routes.ApiController.getOwner(repo.getOwner().getLogin())">@repo.getOwner().getLogin()</td>
            
            
           
            
           </tr>
       
        }
        
        </tbody>
       
    </table>
}

</body>

