
@import helper._
@import play.mvc.Http.Request
@import dto.PublicOwnerInfo


@(owner: PublicOwnerInfo)
<!-- HTML Head -->



<body>
   	<h1>Owner Info! </h1>
    
    
    <p>login: @owner.login</p>
    <p>id: @owner.id</p>
    <p>node id: @owner.node_id</p>
    <p>avatar_url: @owner.avatar_url</p>
    <p>login: @owner.gravatar_id</p>
    
    <p>url: @owner.url</p>
    <p>html_url: @owner.html_url</p>
    <p>followers_url: @owner.followers_url</p>
    <p>follwing_url: @owner.following_url</p>
    
    <p>gists_url: @owner.gists_url</p>
    <p>starred_url: @owner.starred_url</p>
    <p>subscriptions_url: @owner.subscriptions_url</p>
    <p>organizations_url: @owner.organizations_url</p>
    
    
    <p>repos_url: @owner.repos_url</p>
    <p>events_url: @owner.events_url</p>
    <p>received_events_url: @owner.received_events_url</p>
    
    <p>site_admin: @owner.site_admin</p>
    <p>name: @owner.name</p>
    <p>company: @owner.company</p>
    
    
    <p>blog: @owner.blog</p>
    <p>location: @owner.location</p>
    <p>email: @owner.email</p>
    <p>hireable: @owner.hireable</p>
    <p>bio: @owner.bio</p>
    <p>twitter_username: @owner.twitter_username.</p>
    <p>public_repos: @owner.public_repos</p>
    
    
   
 
    <p>public_gists: @owner.public_gists;
    <p>followers: @owner.followers;
    <p>following: @owner.following;
    <p>created_at: @owner.created_at;
    <p>updated_at: @owner.updated_at;
    
    
</body>


