@import helper._
@import play.mvc.Http.Request
@import dto.formData
@import dto.Repository


@(repoList: List[Repository])
<!-- HTML Head -->



<body>
   		<h1>Search by Topics</h1>




    <style>
        table, th, td {
         border: 1px solid black;
        }
        </style>
    @if(repoList != null && !repoList.isEmpty)    {
    <table  style="width: 100%">

        <colgroup>
            <col span="1" style="width: 25%;">
            <col span="1" style="width: 25%;">
            <col span="1" style="width: 50%;">
         </colgroup>


        <thead>
            <tr>
                <th>User</th>
                <th>Repository</th>
                <th>Topics</th>

              </tr>
        </thead>
        <tbody>

        
        
        @for(repo <- repoList) {
            
           <tr>
            <td><a class="btn btn-link" href="@routes.ApiController.getOwner(repo.getOwner().getLogin())">@repo.getOwner().getLogin()</td>
            <td><a class="btn btn-link" href="@routes.ApiController.getRepository(repo.getOwner().getLogin(), repo.getName())">@repo.getFull_name()</td>
            <td>Topics : 
                
                @for(topic <- repo.getTopics()) {
                    <a class="btn btn-link" href="@routes.ApiController.getReposByTopic(topic)">@topic</a>    
                }


            </td>
            
            
            
            
           
            
           </tr>
       
        }
        
        </tbody>
       
    </table>
}

</body>

